.bx-wrapper {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.main-text p {
    text-align: center;
}

.news p {
    padding-left: 2%;
}

/* ページTopへ戻るボタンのcss */
.page-end  {
    text-align: center;
}